<!-- LOGIN POPUP -->
<section>
    <div class="popup" id="loginPopup">
        <h6>Welcome Back!</h6>
        <form id="loginForm">
            <label for="email">Email:</label>
            <input type="text" id="email-login" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password-login" name="password" required>
            <br>
            <button type="submit" onclick="close_popup()">Submit</button>
        </form>
    </div>
</section>

<!-- SIGNUP POPUP -->
<section>
    <div class="popup" id="signupPopup">
        <h6>So Happy to Meet You!</h6>
        <form id="loginForm">
            <label for="email">Username:</label>
            <input type="text" id="name-signup" name="email" required>
            <br>
            <label for="email">Email:</label>
            <input type="text" id="email-signup" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password-signup" name="password" required>
            <br>
            <button type="submit" onclick="close_popup()">Submit</button>
        </form>
    </div>
</section>

<script src="./script/login.js"></script>