<!-- Post POPUP -->
<section>
    <div class="popup" id="postPopup">
        <h6>Share Your Trip!</h6>
        <form id="postForm">
            <label for="titlePost">Title of Post:</label>
            <input type="text" id="titlePost" name="titlePost" required>
            <br>
            <div enctype="multipart/form-data" >
                <label for="img-up">Upload image here:</label>
                <input name="image" type="file" id="myFile" accept="image/*">
            </div>
            <br>
            <label for="description">Description:</label>
            <input type="description" id="description" name="description" required>
            <br>
            {{!-- Location --}}
            <button type="submit" onclick="close_popup()">Submit</button>
        </form>
    </div>
</section>
