<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="reset" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/landing.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img id="logo" src="/assets/images/placeholder.png">
        <h1>Travel With Me</h1>
        <nav>
            <ul>
                <li>
                    <button class="landing-button">Join</button>
                    <!-- ADD Drop DOWN -->
                </li>
                <li>
                    <button class="landing-button">Login</button>
                                        <!-- ADD Drop DOWN -->

                </li>
            </ul>
        </nav>
    </header>
    <hero id="hero">
        <div class="card">
            <div class='text-right'>
                <h3>See The World With Friends</h3>
            </div>
        </div>
        
    </hero>
    <section id="about">
        <h2>Who We Are</h2>
        <p>Travel with Me is a group of people looking to see the world and experience the fun of travel together!</p>
        <p>Share travel tips from booking the best hotels for a great price, to using transportation, or even just what to pack!
        Discover the best spots to see from the tallest mountain ranges to the lowest valleys, the calmest hot springs to the most active rock climbing adventure, or the coziest library to the most vibrant music scenes!
        Find off-the-grid fun from scuba diving, mountain retreats or desert advenutres! Get away from the world and count the stars, the blades of grass in the meadow, or the fish in the deep blue sea!
        Meet locals, make lifelong friends, meet travel buddies, and discover the best part of town only the locals know!
        But most importantly -- Eat great food! Taste a world of cuisines, drink the best coffees in the world, and learn new recipes to share!</p>
        <p>We'd love to see your favorite spots and hear your travel tips! So come join the community dedicated to travel and fun!</p>
    </section>
    <footer>
        <h4>For Every Adventure -- For Our Wonderful World</h4>
    </footer>

    
</body>
</html>