*{
    box-sizing:border-box;
}
/* Universal CSS */

.card{
    flex-wrap: 1 0 200px;
    padding: 40px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* HEADER */
header{
    display: flex;
    flex-wrap: wrap;
    background-color: #242f49;
    color:whitesmoke;
}

#logo{
    display: inline-block;
    margin-left: 1%;
    margin-top: 2%;
    margin-right: 1%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: left;
}

h1{
    font-size: 200%;
    font-family:'Courier New', Courier, monospace;
    font-kerning: 400%;
    margin-top: 2.5%;
}

header nav{
    margin-left: auto;
    margin-top: auto;
}

header nav ul{
    list-style-type: none;
    font-family: monospace;
    font-size: 250%;
}

header nav ul li {
    display:inline-block;
}

header nav ul li:last-child{
    margin-right: 25px;
}

.landing-button{
    padding: 10px 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-weight: bold;
    font-size: 40%;
    border-width: 3px;
    border-style: solid;
    border-color: #242f49;
    text-align: center;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 

}

.landing-button:active{
    background-color: cornflowerblue;
    color: white;
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* HERO */

#hero{
    display: flex;
    flex-wrap:wrap;
    height: 400px;
    width: 100%;
    background-image: url('/assets/images/beach.JPG');
    background-size: cover;
    background-position: center;
}

.text-right{
    padding: 1%;
    background-color: #242f49;
    opacity: 80%;
    position:absolute;
    bottom: 50%;
    right: 40%;
    color:whitesmoke;
    text-decoration: underline;
}

h2{
    font-family:'Courier New', Courier, monospace;
    margin-top: 0%;
    background-color: #242f49;
    padding: 1%;
    color: whitesmoke;
    font-size: 180%;
}

p{
    margin-left: 1%;
    font-family: monospace;
    font-size: 100%;
    font-weight:100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

footer{
    position:fixed;
    bottom: 0%;
    width:100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin-top: 0%;
    background-color: #242f49;
    color: whitesmoke;
    text-align: center;
}

/* POPUP */
.popup_container{
    width: 100%;
    height: 100vh;
    background: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}

.popup_btn{
    padding:10px 60px;
    background: #fff;
    border:0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.popup{
    width: 100%;
    height: 100%;
    background:#fff;
    border-radius: 6px;
    position:absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 1000;
}

.open_popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup h6{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    margin-bottom: 10%;
    background-color: #242f49;
    color: white;
}

.popup button{
    width: 30%;
    margin-top: 50px;
    padding: 10px 0;
    background: #2B4A1E;
    color: #fff;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2)
}

input[type="text"]{
    font-size: 100%;
    margin-bottom: 5px;
}

input[type="password"]{
    font-size: 100%;
}


/* COLOR PALETTE */
/* Whitesmoke */
/* deep blue with gray hues #242F49 */

/*  a leather tan #A95D1E; */
/* a dusty rose pink #9E415D*/
/* emerald green #2B4A1E*/